@import '../../mat-card-preset.scss';
@keyframes animation {
  50% {margin-top: -10px;}
  100%{margin-top: 0px;}
}

header {
  background-color: whitesmoke;
  height: 12% !important;
  width: 100% !important;
}

#content-wrapper {
  width: 100%;
  height: 100%;
  // height: fit-content;
  background-color: whitesmoke;
}

#content {
  height: 100%;
  width: 100%;
  color: #01579b;
}

#content-bottom-wrapper{
  width: 100%;
  background-color:white;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2301579b' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#content-bottom {
  width: fit-content;
  padding: 30px;
  background-color: whitesmoke;
}

#content-top {
  width: 100%;
  height: 50%;
  background-color: #B3E5FC;
}
#content-top-left {
  width: fit-content;
}
#content-top-right {
  width: 400px;
  margin-left: 30px;
}
#content-top-right h2, h3{
  margin: 0;
}

hr {
  height: 3px;
  width: 0%;
  margin-left: -1%;
  background:none;
  border: none;
  transition: .6s ease-in-out;
}

#book-author h2{
  margin: 0;
}

#book-author:hover {
  cursor: pointer;
}
#book-author:hover ~ hr {
  margin-left: 0;
  background: #01579b;
  width: 30%;
}

#cover-image {
  width: 200px;
  height: 280px;
  background-color: #B3E5FC;
}

#cover-image img{
  width: 100%;
  height: 100%;
}

#title-author-text {
  width: 400px;
  margin-left: 30px;
}
#title-author-text h1 {
  animation-name: animation;
  animation-duration: 0.5s;
  font-family: bebas;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
}
#title-author-text h2, #content-top-right h2 {
  font-family: baskervville;
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: 800;
}

#title-author-text p {
  font-family: baskervville;
}

#genre {
  animation-name: animation;
  animation-duration: 0.4s;
}

#publisher {
  animation-name: animation;
  animation-duration: 0.8s;
}
#number-of-pages {
  animation-name: animation;
  animation-duration: 1.2s;
}
#isbn {
  animation-name: animation;
  animation-duration: 1.2s;
}


/*MAT CARD*/

#mat-card-wrapper {
  width: 100%;
}
