#top,
#bottom {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
  background-color: #01579b;
}

#rightTopDiv {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#leftTopDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 100%;
}

#glassDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.login-card {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  width: 50%;
  height: 50%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.field {
  width: 100%;
}

.login-card h2 {
  font-weight: bold;
  font-size: 22px;
  color: #01579b;
}

mat-card-content {
  margin-top: 20px;
  padding: 0 50px;
}

mat-card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightTopDiv h1 {
  position: absolute;
  width: 490px;
  height: 102px;
  right: 150px;
  top: 220px;
  font-family: Voces;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 81px;
  color: #e1f5fe;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#blueRectangle {
  position: absolute;
  width: 34%;
  height: 7%;
  right: 0;
  top: 30%;
  background: #e1f5fe;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#blueRectangle h2 {
  font-family: Verdana;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.15em;
  padding: 15px 15px 15px 25px;
  color: #01579b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#orangeRectangle {
  position: absolute;
  width: 33%;
  height: 7%;
  top: 31%;
  right: 0;
  background: #fb8c00;
}

#logo {
  width: 100% !important;
  text-align: right;
}

#loginButton, #singUpButton {
  width: 40%;
  color: white;
}

#bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1f5fe;
  height: 30%;
  width: 100%;
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

#leftBottomDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

#booksImg img {
  width: 200px;
}

#booksText {
  text-align: left;
}

#booksText h2 {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #01579b;
  margin-left: 40px;
  width: 70%;
}

#rightBottomDiv p {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #01579b;
}

#wrongData {
  text-align: left;
  color: red;
  font-size: 12px;
}
/*# sourceMappingURL=login-page.component.css.map */