<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div id="coverBookLineWrapper">
        <div class="coverBookLine"></div>
        <div class="bookLines">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="tabs" id="logo">
          <img src="../../assets/logo.svg" alt="" />
        </div>
        <div class="tabs" id="home"><p>Home</p></div>
        <div class="tabs" id="myBooks"><p>My books</p></div>
        <div class="tabs" id="library"><p>Library</p></div>
        <div class="tabs" id="activity"><p>Acitvity</p></div>
        <div class="tabs" id="funFacts"><p>Fun facts</p></div>

        <div id="bottomCoverBookLine" class="coverBookLine"></div>
      </div>
    </header>
    <div id="contentWrapper">
      <div id="content">
        <div id="picksOfTheWeek">
          <div></div>
        </div>
        <div id="picksOfTheDay">

        </div>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
