<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div id="cover-book-line-wrapper">
        <div class="cover-book-line"></div>
        <div class="book-lines">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="tabs" id="logo">
          <img src="../../assets/logo.svg" alt="" />
        </div>
        <a href="http://localhost:4200/home-page"
          ><div class="tabs" id="home"><p>Home</p></div></a
        >
        <div class="tabs" id="myBooks"><p>My books</p></div>
        <div class="tabs" id="library"><p>Library</p></div>
        <div class="tabs" id="activity"><p>Acitvity</p></div>
        <div class="tabs" id="fun-facts"><p>Fun facts</p></div>
        <div class="tabs" id="profile">
          <div id="avatar-and-name">
            <img src="../../assets/undraw_female_avatar_w3jk.svg" alt="">
            <p>User</p>
            <div id="expand"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="white"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
            </div>
          </div>
          <div id="links">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Log out</a>
          </div>

        </div>
        <div id="bottom-cover-book-line" class="cover-book-line"></div>
      </div>
    </header>
    <div id="content-wrapper">
      <div id="content">
        <h1>Picks of the week</h1>
        <div id="picks-of-the-week">
          <div class="books" id="book">
            <div class="cover" ></div>
            <div class="title-and-author">
              <h2 class="title"></h2>
              <span class="author"></span>
            </div>
          </div>
        </div>
        <h1>Picks of the day</h1>
        <div id="picks-of-the-day">
          <div class="books" id="book">
            <div class="cover"></div>
            <div class="title-and-author">
              <h2 class="title"></h2>
              <span class="author"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
