header {
  background-color: whitesmoke;
  height: 12%;
  width: 100%;
}

#cover-book-line-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.cover-book-line {
  background-color: #0091ea;
  height: 10%;
  width: 100%;
}

#bottom-cover-book-line {
  margin-top: auto;
}

.tabs {
  position: absolute;
  background-color: #01579b;
  width: 100px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: whitesmoke;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.tabs:hover {
  cursor: pointer;
  height: calc(15%) !important;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.tabs p {
  width: 100%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

#logo {
  height: 15%;
  right: 2%;
}

#home {
  height: 6%;
  left: 2%;
  top: 10%;
}

#myBooks {
  height: 8%;
  left: 16%;
  top: 6%;
}

#library {
  height: 10%;
  left: 30%;
  top: 7%;
}

#activity {
  height: 12%;
  left: 44%;
  top: 3%;
}

#fun-facts {
  height: 13%;
  left: 58%;
  top: 5%;
}

.book-lines {
  margin: 1% 0;
  width: 100%;
  position: absolute;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book-lines div {
  background-color: #0091ea;
  margin-top: 10px;
}

.book-lines :nth-child(1) {
  width: 30%;
  height: 2px;
}

.book-lines :nth-child(2) {
  width: 24%;
  height: 2px;
  margin-left: auto;
}

.book-lines :nth-child(3) {
  width: 31%;
  height: 2px;
  margin-left: 56%;
}

.book-lines :nth-child(4) {
  width: 60%;
  height: 2px;
}

.book-lines :nth-child(5) {
  width: 60%;
  height: 2px;
  margin-left: auto;
}

.book-lines :nth-child(6) {
  width: 60%;
  height: 2px;
  margin-left: 22%;
}

#content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1f5fe;
}

#content {
  height: 100%;
  width: 90%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #01579b;
}

#picks-of-the-week, #picks-of-the-day {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  height: 300px;
}

.books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cover {
  width: 120px !important;
  height: 170px !important;
  background-color: whitesmoke;
}

.title-and-author {
  max-width: 130px;
  text-align: center;
}

.title {
  font-size: 16px;
  margin: 5px;
  line-break: loose;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author {
  font-size: 13px;
}
/*# sourceMappingURL=home-page.component.css.map */